:root{
    --rojo: #E50914; 
    --fondo: /*#0B1524*/ #012557;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
}

header .Prices {
    padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


body {
    background: var(--fondo);
    color:white;
    font-family: 'OpenSans', sans-serif;
    text-align: center;
    justify-content: center;
}

.contenedor {
    background: var(--fondo);
    color:white;
    font-family: 'OpenSans', sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

footer{
    color: black;
}
